#!/bin/bash
dir="$(pwd)/"
files=$(git diff-index --cached --name-only HEAD)

for file in $files
do
    if [[ $file =~ \.php$ ]] ; then
        err=$(php -l $dir$file 2>&1 | grep 'Parse error')
        if [ "$err" != '' ]; then
            echo "Syntax errors found in file: $dir$file, fix it!"
            exit 1
        fi
    fi
done
